
<br>
<h1>About us</h1>

<p>Welcome to the Jungle! We're a independant plant nursury specializing in growing fictional plants. Don't try googling anything you see since none of it exists in the real world!</p>